.Result {
  padding: 0.5rem;
  font-size: larger;
  background-origin: padding-box;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-clip: border-box;
}

.data {
  font-weight: bold;
  margin: 0.25rem;
}

.heading {
  margin: 0.25rem;
  font-weight: normal;
}

#weatherIcon {
  /* margin-right: auto; */
  display: inline;
  height: 4em;
  overflow: hidden;
}

.Temperature {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 38px;
}
.Temperature,
.Weather {
  grid-column: 1/3;
}

.Temperature h4,
.Weather h4 {
  display: none;
}

.Temperature p,
.Weather p {
  margin: 0;
}

.Temperature p {
  font-size: 2em;
  display: inline;
  /* margin-left:30% */
  position: relative;
  right: 0.2em;
}

.Weather p {
  font-size: 1.2em;
}

@media (hover: hover) {
  .Result:hover {
    background-color: #87fce883;
  }
}

.Result {
  transition: background-color 200ms;
}
