.Result {
  padding: 0.5rem;
  font-size: larger;
  background-position: right -.8em;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-clip: border-box;
}

.data {
  font-weight: bold;
  margin: 0.25rem;
}

.heading {
  margin: 0.25rem;
}
