.Result {
  padding: 0.5rem;
  font-size: larger;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.data {
  font-weight: bold;
  margin: 0.25rem;
}

.heading {
  margin: 0.25rem;
}
