.DataTypeSlider {
  display: flex;
  flex-direction: column;
  width: 12rem;
  justify-content: center;
  align-items: center;
  background-color: #bbfc87;
  border: 1px solid transparent;
  border-radius: 8px;
}
.DataTypeSlider label {
  margin-top: 0;
}

.dataList {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.dataList p {
  margin: auto;
}


input[type="range"] {
  width: 10rem;
  margin: 0;
}
/* 
Features not available on iOS.
datalist {
  display: flex;
  display: none;
  justify-content: space-between;
  width: 10rem;
} 
*/

/* option {
  padding: 0;
} */
