.Day {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.Day * {
  margin: auto;
  font-weight: bold;
}

.Day img {
  height: 45px;
  object-fit: cover;
}
.minMax {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.minMax p {
  margin: 0 0.3em;
}
