.HourlyDisplay {

  grid-template-columns: repeat(51, 1fr);
  overflow-x: scroll;
  margin: 1em;
  margin-top: 0;
  grid-column: 1/3;

}

/* @media (max-width: 500px) {
  .HourlyDisplay {
    grid-column: 1;
  }
} */
