.Hour {
  width: 5rem;
  display: flex;
  flex-direction: column;
}

.Hour * {
  margin: 0;
  font-weight: bold;
}

.Hour img {
  height: 45px;
  object-fit: cover;
}

.Hour .Hourly {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.Hourly * {
  margin: auto;
}
