.LocationForm {
  flex-direction: column;
}
label {
  display: block;
  font-size: larger;
  margin-top: 2em;
}

input,
select {
  font-size: large;
  width: 13rem;
}

.get-current-position {
  border: 1px solid black;
  width: 10rem;
  margin: auto;
  background-image: url(/img/locate.svg);
  background-repeat: no-repeat;
  background-position: 0.5rem;
  text-align: end;
  display: none;
}

#submit {
  width: 10rem;
  height: 5rem;
  font-size: larger;
  margin: 2em;
}

.invalidPostalCode {
  display: none;
  color: red;
}

/* disable number input arrows for zip code input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* end disable input arrows */

@media (max-width: 500px) {
  label {
    margin-top: 1rem;
  }
  #submit {
    margin: 1rem;
  }
}
