.LocationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.LocationForm h1 {
  background-image: url("/favicon.svg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  font-size: larger;
  margin-top: 1rem;
}

input,
select {
  font-size: large;
  width: 13rem;
}

.form-icon {
  width: 5rem;
  margin: auto;
}
.get-current-position {
  border: 1px solid black;
  width: 13rem;
  margin: 0 auto;
  background-image: url(/img/locate.svg);
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0.5rem;
  text-align: center;

  /* display: none; */
}

#submit {
  width: 13rem;
  height: 5rem;
  font-size: larger;
  margin: 1rem;
  border-radius: 8px;
}

#submit:enabled {
  background-color: rgb(156, 255, 57);
  cursor: pointer;
}

.invalidPostalCode {
  display: none;
  color: red;
}

/* disable number input arrows for zip code input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* end disable input arrows */
