#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  text-align: center;
  padding: 2em;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 1000px) {
  #root {
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .App {
    padding: 1rem;
  }
}
