#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 1000) {
  #root {
    padding: 1rem;
  }
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
