#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000) {
  #root {
    padding: 1rem;
  }
}
.App {
  display: flex;
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  max-width: 40rem;
  text-align: center;
  padding: 2em;
}
