:root {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: darkslategrey;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App,
:root,
#root {
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  height: 100%;
}

.fullGridWidth {
  grid-column: 1/3;
}

.dataDisplay {
  margin: 1em;
  display: grid;

  width: 100%;
  max-width: 40rem;
}

.CurrentDisplay {
  grid-template-columns: 1fr 1fr;
}

.logoMark {
  color: black;
}

@media (max-width: 499px) {
  .CurrentDisplay {
    grid-template-columns: 1fr;
  }

  .fullGridWidth {
    grid-column: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: whitesmoke;
  }
}
