

.heading {
  margin: 0.25rem;
  font-weight: normal;
}

#weatherIcon {
  /* margin-right: auto; */
  display: inline;
  height: 4em;
  overflow: hidden;
  width: auto;
  max-width: 5em;
}

.Temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  /* padding-bottom: 0; */
}
  .Result .fullGridWidth {
  grid-column: 1/3;
}

.Feels {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0; */
  font-style: italic;
  gap:.3rem
}
.Feels p.data {
  font-weight: normal;
}

.Temperature h4,
.Weather h4 {
  display: none;
}

  .Result.fullGridWidth p{
  margin: 0;
}

.Temperature p {
  font-size: 2em;
  display: inline;
  /* margin-left:30% */
  position: relative;
  right: 0.2em;
}

.Weather p {
  font-size: 1.2em;
}

@media (hover: hover) {
  .Result:hover {
    background-color: #87fce883;
  }

  .Result {
    transition: background-color 200ms;
  }
}

@media (max-width: 499px) {
  .Result:not(.Temperature, .Weather, .Feels) {
    padding: 0.2rem;
    grid-template-columns: 1fr 1fr;
  }
}
