.ResultsPage {
  /* outline: solid red 1px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ResultsPage img {
  height: 1.5rem;
}

.locationHeader {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 1 / 3;
}

.dateTime {
  grid-column: 1 / 3;
}

.ResultsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid;
  margin: 1em;
  width: 100%;
  background: radial-gradient(ellipse at top, #e7e7e7, transparent),
    radial-gradient(ellipse at bottom, #c0c0c0, transparent);
}

.returnButton {
  background-color: #bbfc87;
  width: 12rem;
  height: 4rem;
}
@media (hover: hover) {
  .Result:hover {
    background-color: #87fce883;
  }
}



@media (max-width: 500px) {
  .ResultsGrid {
    grid-template-columns: 1fr;
  }
  .locationHeader {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 1;
}

.dateTime {
  grid-column: 1;
}
}
