.dataDisplay {
  margin: 1em;
  display: grid;

  width: 100%;
  max-width: 40rem;
}

.CurrentDisplay {
  grid-template-columns: 1fr 1fr;
}


@media (max-width: 499px) {
  .CurrentDisplay {
    grid-template-columns: 1fr;
  }

  .fullGridWidth {
    grid-column: 1;
  }
}
